<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Midterm Sprint Movie Gallery. All rights reserved.</p>
    <div class="social-media">
      <a href="https://facebook.com" target="_blank">
        <img src="/Images/facebook.jpg" alt="Facebook" />
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="/Images/twitter.jpg" alt="Twitter" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="/Images/insta.jpg" alt="Instagram" />
      </a>
    </div>
  </div>
</footer>
